# Don't track anything...
*

# ... except the following...
!figures
!static
!text
!code-examples
!code-examples/snippets/*.py
!.gitignore
!*.tex
!*.bib

# ... but never these:
.showyourwork*
xstring.tex
listofitems.tex
*latexindent*
